{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="cms-block-21" class="cms-block cms-block-element">

            <div id="carousel-21" class="carousel slide sonata-media-block-gallery-container" data-interval="3000" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-21" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-21" data-slide-to="1" class="active"></li>
                    <li data-target="#carousel-21" data-slide-to="2" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item">
                        {% media 13, 'wide' %}
                        <div class="carousel-caption">
                            <h4>Canada</h4>
                            <p>Canada</p>
                        </div>
                    </div>

                    <div class="item active">
                        {% media 14, 'wide' %}
                        <div class="carousel-caption">
                            <h4>Paris</h4>
                            <p>Paris</p>
                        </div>
                    </div>

                    <div class="item">
                        {% media 15, 'wide' %}
                        <div class="carousel-caption">
                            <h4>Switzerland</h4>
                            <p>Switzerland</p>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-21" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-21" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="block-newsletter col-sm-6 well">                
            <div class="row">
                <p>Want to stay in touch with us? Subscribe to our monthly newsletter.</p>

                <form id="newsletter-form" name="newsletter-form" method="post" action="/newsletter" data-name="sonata-ajax" data-target="newsletter-confirmation" class="form-inline">
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="col-lg-12"><input type="email" id="sonata_demo_form_type_newsletter_email" name="sonata_demo_form_type_newsletter[email]" required="required" placeholder="Email" class=" form-control"></div>
                    </div>

                    <div class="col-sm-3">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-envelope"></i>&nbsp; Subscribe</button>
                    </div>

                    <input type="hidden" id="sonata_demo_form_type_newsletter__token" name="sonata_demo_form_type_newsletter[_token]" class=" form-control" value="byDvAwd3C7RpsB7ITBcF4vDgsY7EtK89XJK0_fXZhgA">
                </form>
                &nbsp;
            </div>
            <div id="newsletter-confirmation"></div>

        </div>

        <div class="col-sm-6">  
            https://twitter.com/dunglas/statuses/438337742565826560
        </div>

    </div>
{% endblock %}
